In [1]:
df = read.csv("car.csv")

In [2]:
df

   Speed Car_Age Experience Risk
1  200   15       5         85
2   90   17      13         20
3  165   12       4         93
4  110   20      NA         60
5  140    5       3         82
6  115   NA       8         10
7   88    5       3         65
8   65    3       2         43
9   48   11      NA         87
10  71    1       6         34
11  23    4       5         24
12  76   NA       4         64
13  35   13       7         12
14  83    4       8         87
15  98    2       4         43
16  32    3       2         21

In [3]:
x = c(17, 23, 53, 92, 45, NA, 23, 54, 11)

In [4]:
x

[1] 17 23 53 92 45 NA 23 54 11

# Mean

In [5]:
Mean1 = mean(x, na.rm = TRUE)

In [6]:
Mean1

[1] 39.75

In [7]:
Mean2 = mean(df$Speed)

In [8]:
Mean2

[1] 89.9375

In [14]:
Mean3 = mean(df$Experience, na.rm =TRUE)

In [15]:
Mean3

[1] 5.285714

# Median

In [18]:
Median1 = median(x, na.rm = TRUE)

In [19]:
Median1

[1] 34

In [20]:
sort(x)

[1] 11 17 23 23 45 53 54 92

In [21]:
Median2 = median(df$Speed, na.rm = TRUE)

In [22]:
Median2

[1] 85.5

# Mode

In [33]:
names(table(x))

[1] "11" "17" "23" "45" "53" "54" "92"

In [35]:
names(table(x)) [table(x) == max(table(x))]

[1] "23"

In [37]:
names(table(df$Speed))

 [1] "23"  "32"  "35"  "48"  "65"  "71"  "76"  "83"  "88"  "90"  "98"  "110"
[13] "115" "140" "165" "200"

In [39]:
names(table(df$Risk)) [table(df$Risk) == max(table(df$Risk))]

[1] "43" "87"